<% if (data.length > 0) { %>
 <div class="cards grid grid-cols-1 gap-[30px] md:grid-cols-2 lg:grid-cols-3">
    <% data.forEach(element => { %>
        <div class="card p-[20px] bg-[#eee] border-[2px] border-[#f7a813] rounded-3xl flex flex-col gap-[20px]">
            <% if (element.mimetype.startsWith("video")) { %>
                <video controls>
                    <source src="<%= element.img %>" type="<%= element.mimetype %>">
                </video>
            <% } else { %>
                <img src="<%= element.img %>" alt="">
            <% } %>
            <h1 class="text-[20px] w-fit mx-auto font-bold text-[#f7a813]"><%= element.title %></h1>
            <p class="text-center text-[#444] text-[18px]"><%= element.description %></p>
            <hr>
            <form action="/api/project/<%= element._id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="w-full py-[15px] bg-red-500 cursor-pointer text-white" type="submit" value="Delete">
            </form>
        </div>
    <% }) %>
 </div>
<% } else { %>
    <h1 class="w-fit mx-auto text-[25px] font-bold text-[#f7a813] capitalize">Not Found</h1>
<% } %>