<div class="bg-[#eee] mb-[50px] p-[25px] flex flex-col items-center">
    <a class="py-[10px] px-[25px] bg-[#f7a813] text-white" href="/projects/createSubSection/<%= mainSection._id %>">Add Sub Section</a>
</div>
<% if (data.length > 0) { %>
    <div class="cards grid grid-cols-1 gap-[20px] md:grid-cols-2 lg:grid-cols-3">
        <% data.forEach(element => { %>
            <div class="p-[20px] bg-[#eee] border-[2px] border-[#f7a813] rounded-3xl flex flex-col gap-[20px]">
                <img src="<%= element.img %>" alt="">
                <h1 class="text-[20px] w-fit mx-auto font-bold text-[#f7a813]"><%= element.name %></h1>
                <div class="actions w-fit mx-auto flex gap-[20px]">
                    <form action="/api/projects/subSection/<%= element._id %>/<%= element.mainCategory %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="py-[10px] px-[20px] cursor-pointer bg-red-500 text-white" type="submit" value="Delete">
                    </form>
                    <a class="py-[10px] px-[20px] bg-[#333] text-white" href="/projects/<%= element._id %>">All Projects</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <h1 class="w-fit mx-auto text-[25px] font-bold text-[#f7a813] capitalize">Not Found</h1>
<% } %>